{{ define "main" }}

<!-- Start Header -->
{{ with .GetPage "00-banner" }}
<section class="header {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="home">
  <div class="slider-prev-button slider-button">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="slider-next-button slider-button">
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="owl-carousel owl-full-width owl-theme" id="background-slide">
    {{ range $elem_index, $elem_val := .Page.Resources }}
    <div class="slider">
      {{partial "img-header-bg.html" (dict "File" $elem_val "Alt" $elem_val "Position" $elem_index)}}
    </div>
    {{ end }}
  </div>
  <div class="container">
    <div class="row content">
      <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 mt-5 head-container">
          <h1 class="introduction">{{ .Title | markdownify | emojify }}</h1>
          <div class="animated-text">
            <strong class="cd-headline clip">
              <span class="cd-words-wrapper">
                {{ range $index, $elements:= .Params.animated_text }}
                <b {{ if eq $index 0 }} class="is-visible" {{ end }}>{{ . }}</b>
                {{ end }}
              </span>
            </strong>
          </div>
          <h3 class="by-nejc">{{ .Content | markdownify | emojify }}</h3>
      </div>
          <!-- Language List -->
      {{- if .IsTranslated }}
      {{ $pageLang := .Page.Lang}}
      {{ range $.Site.Home.AllTranslations }}
      {{ if eq $pageLang .Lang}}

      {{ else }}
      <div class="col-lg-1 offset-lg-3 col-sm-1 offset-sm-3 justify-content-end mt-5 head-container">
        <a href="{{ .Permalink }}">{{ .Language }}</a>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
    
</section>
{{ end }}
<!-- End Header -->

<!-- Start Menu -->
<section class="menu" id="menu">
  <nav>
    <!-- desktop-menu -->
    <div class="menu-container">
      <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
        {{ range site.Menus.main }}
        <li class="menu-item hvr-underline-from-left 1"><a
            href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <!-- /desktop-menu -->

      <!-- mobile-menu -->
      <div class="mobile-menu">
        <a class="menu-link">
          <div class="mobile-menu-nav">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        </div>
        <div class="menu-slider">
          <nav>
            <ul class="mobile-menu-list">
              {{ range site.Menus.main }}
              <li class="hvr-shutter-out-vertical mobile-menu-item 1"><a
                  href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</section>
<!-- End Menu -->

<!-- Start Predstavitveni video -->
{{ with .GetPage "01-video-presentation" }}
<section class="video-presentation {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="video-presentation">
    <div class="wow fadeInUp" data-wow-duration="1.5s">
        <lite-vimeo videoid="608334799"></lite-vimeo>
    </div>
  </div>
</section>
{{ end }}
<!-- End Predstavitveni video -->

<!-- Start About project -->
{{ with .GetPage "02-about" }}
<section class="about {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="about">
  <div class="container">
    <div class="row no-marginLR">
      {{- $sectionDelimiter := "<!-- Small Text -->" -}}
      {{- $rawContentSections := split .RawContent $sectionDelimiter -}}
      {{- if gt (len $rawContentSections) 1 -}}
      <div class="text-holder wow fadeInUp" data-wow-duration="1.5s">
        <div class="about-text d-flex align-self-center">
            <div class="content">{{ index $rawContentSections 0 | .RenderString | markdownify | emojify }}</div>
        </div>
        <div class="about-text-small d-flex align-self-center">
            <div class="content">{{ index $rawContentSections 1 | .RenderString | markdownify | emojify }}</div>
        </div>
        {{ end }}

        {{ with .Params.button }}
          {{ if .enable }}
          <a href="{{ .link }}" class="download-cv hvr-icon-hang"> {{ .label }} &nbsp; &nbsp; &nbsp;</a>
          {{ end }}
          {{ end }}
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}
<!-- End About project -->

<section class="gallery-block grid-gallery">
  <div class="wow fadeInUp" data-wow-duration="1.5s">
    <div class="container">

      <!-- {{ range $index, $num := .Page.Resources }}
      
      <div class="testimonial-holder">
        {{partial "img.html" (dict "File" . "Alt" .)}}
      </div>
      {{ end }}-->

      <div class="row">
        <div class="col-4 item">
          <a class="lightbox" href="http://www.politicalmetaphors.com/wp-content/uploads/2015/04/blog-shapes-square-windows.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image1.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" title="This is title" data-caption="Image caption" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
        <div class="col-4 item">
          <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
            <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
            <div class="overlay"><div class="overlay-text">Hello World</div></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start Dialogi -->
{{ with .GetPage "03-dialogs" }}
<section class="dialogs {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="dialogs">
    <lite-vimeo videoid="608334799"></lite-vimeo>
</section>
{{ end }}
<!-- End Dialogi -->

<!-- book -->
{{ with .GetPage "04-book" }}
<section class="book {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="book">
  <div class="container">
    <div class="row no-marginLR book-holder">
      <div class="book-text">
        <div class="text-holder  wow fadeInUp" data-wow-duration="1.5s">
          <h1>{{ .Title | markdownify }}</h1>
          <div class="d-flex align-self-center">
            <div class="content">{{ .Content | markdownify | emojify }}</div>
          </div>
          {{ with .Params.button }}
          {{ if .enable }}
          <a href="{{ .link }}" class="download-cv hvr-icon-hang"> {{ .label }} &nbsp; &nbsp; &nbsp;</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
        <div class="owl-carousel owl-theme wow fadeInUp" data-wow-duration="1.5s">
          {{ range .Page.Resources }}
            <div class="testimonial-holder">
              {{partial "img.html" (dict "File" . "Alt" .)}}
            </div>
          {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- end book -->

<!-- Start team -->
{{ with .GetPage "05-team"}}
  <section class="team {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 team-text d-flex align-self-center">
          <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .Title | markdownify }}</h1>
        </div>
        <div class="col-12 mb-5 pb-5">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-5 col-sm-12 mb-5 ">
              <div class = "w-100"></div>
              {{partial "img.html" (dict "File" (.Page.Resources.GetMatch .Params.team_lead_image) "Alt" (.Params.team_lead_name | markdownify))}}
            </div>
            <div class="col-md-6">
              <h2><div class="team-lead-name">{{ .Params.team_lead_name | markdownify }}</div></h2>
              <p class="team-lead-role">{{ .Params.team_lead_role | markdownify }}</p>
              <h6 class="team-lead-description">{{ .Params.team_lead_description | markdownify }}</h6>
              <a href="{{ .Params.team_lead_link }}" class="team-lead-description {{.Params.team_lead_link_icon}}">{{ .Params.team_lead_link  | replaceRE "https://" "" | replaceRE "instagram.com" "" }}</a>
            </div>
          </div>
        </div>
            
        {{ $teamPhotoResource := .Page.Resources}}
        {{ $teamCore := .Params.team_core}}
        {{ range $teamCore }}
        <div class="col-lg-4 col-md-5 col-sm-12 mb-5 ">
          <div class="card border-0">
            <div class ="mb-4">
            {{partial "img.html" (dict "File" ($teamPhotoResource.GetMatch .image) "Alt" (.name | markdownify))}}
            </div>
            <div class="card-body p-0">
              <h3 class="team-member-name">{{ .name | markdownify }}</h3>
              <p class="team-member-role">{{ .role | markdownify }}</p>
              <h6 class="team-member-description">{{ .description | markdownify }}</h6>
              <i class="{{.link_icon}} team-member-description"></i><a href="{{ .link }}" class="team-member-description">{{ .link | replaceRE "https://" "" | replaceRE "instagram.com" "" }}</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="row"><div class="w-100"><div class="col"></div>&nbsp;</div></div>
        <div class="row">
          <div class="col">
            <div class="content wow fadeInUp" data-wow-duration="1.5s">
              <div class="text-center">
                <a href="{{site.BaseURL | absLangURL}}{{ .Params.OthersURL }}">{{ .Content | markdownify | emojify }}</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{{ end }}
<!-- End team -->

<!-- Start PROJECT EXHIBITIONS -->
{{ with .GetPage "06-project-exhibitions"}}
<section class="portfolio {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="project-exhibitions">
  <div class="container">
    <div class="row no-marginLR">
      <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .Title | markdownify }}</h1>
        <div class="content wow fadeInUp" data-wow-duration="1.5s">{{ .Content | markdownify | emojify }}</div>
    </div>
  </div>
</section>
{{ end }}
<!-- End PROJECT EXHIBITIONS -->

<!-- Start media-coverage -->
{{ with .GetPage "08-media-coverage"}}
<section class="portfolio {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="media-coverage">
  <div class="container">
    <div class="row no-marginLR">
      <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .Title | markdownify }}</h1>      
      <div class="content wow fadeInUp" data-wow-duration="1.5s">{{ .Content | markdownify | emojify }}</div>
    </div>
  </div>
</section>
{{ end }}
<!-- End media-coverage -->

<!-- Start trak -->
{{ with .GetPage "10-trak" }}
<section class="trak {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="trak">
  <div class="wow fadeInUp" data-wow-duration="1.5s"></div>
    <div class="trak">
      {{ range .Page.Resources }}
        {{partial "img-trak.html" (dict "File" . "Alt" .)}}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- End trak -->

<!-- Start kolofon -->
{{ with .GetPage "09-kolofon"}}
<section class="portfolio {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="kolofon">
  <div class="container-fluid">
    <h1 class="wow fadeInUp" data-wow-duration="1.5s">{{ .Title | markdownify }}</h1>
    <div class="row">
      {{- $sectionDelimiter := "<!-- section break -->" -}}
      {{- $rawContentSections := split .RawContent $sectionDelimiter -}}
      {{- if gt (len $rawContentSections) 1 -}}
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="content wow fadeInUp" data-wow-duration="1.5s">{{ index $rawContentSections 0 | .RenderString | markdownify | emojify }}</div>
      </div>
      <div class="col-lg-6 col-sm-6 col-9">
        <div class="content wow fadeInUp" data-wow-duration="1.5s">{{ index $rawContentSections 1 | markdownify | emojify }}</div>
      </div>
      
    </div>
    <div class="row"><div class="w-100"><div class="col"></div>&nbsp;</div></div>
    <div class="row">
      <div class="col">
        <div class="content wow fadeInUp" data-wow-duration="1.5s">{{ index $rawContentSections 2 | .RenderString | markdownify | emojify }}</div>
      </div>
    </div>
    {{- end -}}
  </div>
</section>
{{ end }}
<!-- End kolofon -->

<!-- Start Contact -->
{{ with .GetPage "11-logotips"}}
<section class="contact {{.Params.custom_class}}" {{.Params.custom_attributes | safeHTMLAttr}} id="contact">
  <div class="container">
    <div class="row">
      <div class="footer col-lg-10 offset-lg-1">
        <hr>
      </div>
    </div>
    <div class="row">      
        {{ range .Page.Resources }}
        <div class="col-3">
            {{partial "img.html" (dict "File" . "Alt" .)}}
        </div>
        {{ end }}
    </div>
      <div class="row">
        <div class="col">
        <div class="credit content">
          {{ site.Params.copyright | markdownify }}
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- End Contact -->

<a href="#home" class="scroll-up hvr-icon-up"></a>

{{ end }}